---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: blog
spec:
  template:
    spec:
      containers:
        - name: blog
          image: artifactory.local.hejsan.xyz/docker/josmase/blog:2024.01.29.202359-51464e4
