apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - service.yaml
  - deployment.yaml
  - persistence.yaml

labels:
  - includeSelectors: true
    pairs:
      app: immich-database
