apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - persistence.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

labels:
  - pairs:
      app.kubernetes.io/name: gotify
    includeSelectors: true
