apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
        - name: jellyfin
          image: artifactory.local.hejsan.xyz/docker/linuxserver/jellyfin:10.11.5@sha256:747bc6725c5e4f1330e693b50d787e2106e52ac5b25c4174ca5f58915fc17ec8
          ports:
            - containerPort: 8096
              name: http
          envFrom:
            - configMapRef:
                name: default-app-config
          volumeMounts:
            - name: jellyfin-config-pvc
              mountPath: /config
            - name: shared-storage
              mountPath: /mnt/storage
      volumes:
        - name: jellyfin-config-pvc
          persistentVolumeClaim:
            claimName: jellyfin-config-pvc-jellyfin-0
        - name: shared-storage
          persistentVolumeClaim:
            claimName: shared-nfs-pvc
