apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
        - name: jellyfin
          image: artifactory.local.hejsan.xyz/docker/linuxserver/jellyfin:10.11.4@sha256:eb34c52b9fda39157fabee6fccb26729f1e710912896495fd1a91ba934703f58
          ports:
            - containerPort: 8096
              name: http
          envFrom:
            - configMapRef:
                name: default-app-config
          volumeMounts:
            - name: jellyfin-config-pvc
              mountPath: /config
            - name: shared-storage
              mountPath: /mnt/storage
      volumes:
        - name: jellyfin-config-pvc
          persistentVolumeClaim:
            claimName: jellyfin-config-pvc-jellyfin-0
        - name: shared-storage
          persistentVolumeClaim:
            claimName: shared-nfs-pvc
