apiVersion: apps/v1
kind: Deployment
metadata:
  name: headscale
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: headscale
  template:
    metadata:
      labels:
        app: headscale
    spec:
      containers:
        - name: headscale
          image: artifactory.local.hejsan.xyz/docker/headscale/headscale:v0.28.0-debug@sha256:73a50636025afc9cc7b8be4978f120d80dabe25b94d1f8f505ffc2334b9873b2
          ports:
            - containerPort: 8080
              name: http
          envFrom:
            - configMapRef:
                name: default-app-config
          volumeMounts:
            - name: config
              mountPath: /etc/headscale
            - name: headscale-data-pvc
              mountPath: /var/lib/headscale
          command: ["headscale", "serve"]
          resources:
            limits:
              memory: 800Mi
              cpu: "1"
            requests:
              memory: 500Mi
              cpu: "0.1"
      volumes:
        - name: config
          configMap:
            defaultMode: 420
            name: headscale-config
        - name: headscale-data-pvc
          persistentVolumeClaim:
            claimName: headscale-data-pvc-headscale-0
