apiVersion: apps/v1
kind: Deployment
metadata:
  name: overseerr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: overseerr
  template:
    metadata:
      labels:
        app: overseerr
    spec:
      containers:
        - name: overseerr
          image: artifactory.local.hejsan.xyz/docker/linuxserver/overseerr:v1.33.2-ls119@sha256:f63f746e4972ea6870b9c694bcc7a45fa94a88a70f3c3b054c112cd0fa932a36
          ports:
            - containerPort: 5055
              name: http
          envFrom:
            - configMapRef:
                name: default-app-config
          volumeMounts:
            - name: overseerr-config-pvc
              mountPath: /config
      volumes:
        - name: overseerr-config-pvc
          persistentVolumeClaim:
            claimName: overseerr-config-pvc-overseerr-0
