apiVersion: v1
kind: ConfigMap
metadata:
  name: jellyfin-rffmpeg-config
data:
  RFFMPEG_HOST: "gpu.local.hejsan.xyz"  # Transcode server hostname
  RFFMPEG_USER: "jellyfin"  # Remote transcode server user
