apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Production overlay - includes ALL base apps + production secrets

resources:
  # Default config for all apps
  - default-app-config.yaml

  # ALL base applications
  - ../base/traefik-dashboard/
  - ../base/artifactory/
  - ../base/cloudflare-ddns/
  - ../base/it-tools/
  - ../base/actions-runner/
  - ../base/renovate-bot/
  - ../base/new-new-boplats/
  - ../base/monitoring/
  - ../base/media/
  - ../base/longhorn/
  - ../base/persistence/
  - ../base/smart-home/
  - ../base/headscale/
  - ../base/immich/
  - ../base/netbootxyz/

  - ./blog/
  - ./downloader/

  # Production secrets
  - immich/
  - cloudflare-ddns/
  - artifactory/
  - actions-runner/
  - renovate-bot/
  - media/
  - new-new-boplats/

transformers:
  - |-
    apiVersion: builtin
    kind: NamespaceTransformer
    metadata:
      name: notImportantHere
      namespace: default
    unsetOnly: true

configurations:
  - kustomizeconfig.yaml