apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-red
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: node-red
  template:
    metadata:
      labels:
        app: node-red
    spec:
      containers:
        - name: node-red
          image: artifactory.local.hejsan.xyz/docker/nodered/node-red:4.1.6-20@sha256:330d65c5d9c203df1fc4db8dc7a67cf15c3b3982c85d0f7e0f1aa90dbb8b43f9
          ports:
            - containerPort: 1880
              name: http
          envFrom:
            - configMapRef:
                name: default-app-config
          volumeMounts:
            - name: node-red-data-pvc
              mountPath: /data
          resources:
            limits:
              memory: 500Mi
              cpu: "1"
            requests:
              memory: 320Mi
              cpu: "0.1"
      volumes:
        - name: node-red-data-pvc
          persistentVolumeClaim:
            claimName: node-red-data-pvc-node-red-0
