apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - persistence.yaml
  - ingress.yaml
  - service.yaml

labels:
  - includeSelectors: true
    pairs:
      app: node-red
