apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana

spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`grafana.${DOMAIN_INTERNAL}`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-grafana
          port: http-web

  tls:
    secretName: ${CERT_SECRET_INTERNAL}
