---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: downloader
spec:
  template:
    spec:
      containers:
        - name: downloader
          image: artifactory.local.hejsan.xyz/docker/josmase/downloader:v0.0.86
