apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-machine-learning
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: immich-machine-learning
  template:
    metadata:
      labels:
        app: immich-machine-learning
    spec:
      containers:
        - name: immich-machine-learning
          image: artifactory.local.hejsan.xyz/docker/immich-app/immich-machine-learning:v1.140.0
          envFrom:
            - secretRef:
                name: immich-secrets
          volumeMounts:
            - name: immich-model-cache
              mountPath: /cache
          ports:
            - containerPort: 3003
          resources:
            limits:
              memory: 3Gi
              cpu: "5"
            requests:
              memory: 320Mi
              cpu: "0.1"
      volumes:
        - name: immich-model-cache
          persistentVolumeClaim:
            claimName: immich-model-cache-immich-machine-learning-0
