{{- if .Values.githubRunner.enabled }}
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gha-runner-scale-set-{{ .Values.appName }}
  namespace: {{ .Values.githubRunner.namespace }}
  labels:
    app: {{ .Values.appName }}
spec:
  chartRef:
    kind: OCIRepository
    name: gha-runner-scale-set
    namespace: flux-system
  interval: 5m
  values:
    runnerScaleSetName: {{ .Values.appName }}
    githubConfigUrl: {{ .Values.githubRunner.githubConfigUrl }}
    githubConfigSecret: {{ .Values.githubRunner.githubConfigSecret }}
    minRunners: {{ .Values.githubRunner.minRunners }}
    maxRunners: {{ .Values.githubRunner.maxRunners }}
    containerMode:
      type: "kubernetes"
    template:
      spec:
        securityContext:
          fsGroup: 123
        containers:
          - name: runner
            image: {{ .Values.githubRunner.image }}
            command: ["/home/runner/run.sh"]
{{- end }}
