apiVersion: apps/v1
kind: Deployment
metadata:
  name: cleanuperr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: cleanuperr
  template:
    metadata:
      labels:
        app: cleanuperr
    spec:
      containers:
        - name: cleanuperr
          image: artifactory.local.hejsan.xyz/docker/cleanuparr/cleanuperr:1.6.8
          envFrom:
            - configMapRef:
                name: cleanuperr-config
            - secretRef:
                name: cleanuperr-secrets
          volumeMounts:
            - name: shared-storage
              subPath: downloads
              mountPath: /downloads
          resources:
            limits:
              memory: 512Mi
              cpu: "0.5"
            requests:
              memory: 256Mi
              cpu: "0.1"
      volumes:
        - name: shared-storage
          persistentVolumeClaim:
            claimName: shared-nfs-pvc
