apiVersion: apps/v1
kind: Deployment
metadata:
  name: plex
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: plex
  template:
    metadata:
      labels:
        app: plex
    spec:
      containers:
        - name: plex
          image: artifactory.local.hejsan.xyz/docker/linuxserver/plex:1.41.0.8994-f2c27da23-ls238
          ports:
            - containerPort: 32400
              name: http
          envFrom:
            - configMapRef:
                name: default-app-config
          volumeMounts:
            - name: plex-config-pvc
              mountPath: /config
            - name: shared-storage
              mountPath: /mnt/storage
      volumes:
        - name: plex-config-pvc
          persistentVolumeClaim:
            claimName: plex-config-pvc-plex-0
        - name: shared-storage
          persistentVolumeClaim:
            claimName: media-shared-nfs-pvc
